@using PagedList.Mvc
@model Exellenece.Models.SinglePackage1
    @{
        Layout = null;
    }
     
    <div class="card-body table-responsive" style="display: block;">
        <!--bigtable -->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th width="3%">Sr.No.</th>
                    <th width="12%">Class Name</th>
                    <th width="16%">Package Heading</th>
                    <th width="14%">Package Price</th>
                    <th width="20%">Package Discount Price</th>

                    <th width="4%">Status</th>
                    <th width="2%">Edit</th>
                    <th width="5%">Remove</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0;
                    int a = Model.SinglePackageList1.PageNumber;
                    if (a == 0)
                    {
                        a = 1;
                    }
                    else
                    {
                        a = ((a * 50) - 49);
                    }
                }
                @foreach (var item in Model.SinglePackageList1)
            {

                    <tr>
                        <td>@a</td>
                        <td>@item.Class_Name</td>
                        <td>@item.Package_Heading </td>

                        <td>@item.Package_Price </td>
                        <td>@item.Package_Discount_Price </td>

                        <td><a href="#"><strong>@item.Status</strong></a> </td>
                        <td><a href="/Manage/SinglePackage/@item.Id?command=ed" class="red">Edit</a></td>
                        <td><a href="/Manage/SinglePackage/@item.Id?command=del"><i class="fa fa-trash"></i></a></td>


                    </tr>
                    a = a + 1;
                }

            </tbody>
        </table>

        <div class="pagination-outer float-right paging">
            @Html.PagedListPager(Model.SinglePackageList1, page1 => Url.Action("SinglePackage", new { page1 }))
        </div>
    </div>